*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Arial, sans-serif;
     è possibile fare una cosa del genere?? 
    da chiedere!  */
}

body{
    background-color: lightgray;
}

/* logo e scritta */

.logo{
    background-color: white;
    padding: 10px 20px; 
}

.logo-name{
    display: inline-block;
    color: black;
    margin-left: 10px;
    vertical-align: top;
    line-height: 45px;
    font-size: 40px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

/* gestione main */

main{
    padding-top: 50px;
    padding-bottom: 10px;
}

.container-styling-top{
    width: 80%;
    background-color:white;
    margin: auto;
    padding-left: 50px;
    border-radius: 5px 5px 0 0;
    border-bottom: 2px solid #cecece;
}

.container{
    width: 80%;
    margin: auto;
    background-color:white;
    padding-left: 50px;
    padding-bottom: 50px;
    border-radius: 0 0 5px 5px;
}

/* bottoni */

.task-control button{
    padding: 10px;
    border-radius: 5px;
    margin: 20px 5px 10px 0;
    border: 1px solid;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.task-control .add-task{
    background-color: skyblue;
    border-color: skyblue;
    color: white;
}

.task-control .add-section{
    background-color: white;
    border-color: gray;
    color: gray;
}

/* varie task  */

.container-styling-tasks{
    padding-top: 25px;
}

.taskname{
    font-size: 20px;
    font-weight: 800;
    font-family: Arial, sans-serif;
}

.tasks{
    padding: 10px;
    font-family: Arial, sans-serif;
}

.tasks .task{
    font-weight: 500;
    font-size: 20px;
    vertical-align: middle;
}

/* task hovering  */

.wiew-all:hover:before{
    content: "\259F"; 
}

/* done and note done  */

.done:after{
    content: "\2714";
    border: 1px solid green;
    border-radius: 50%;
    color: green;
    font-size: 10px;
    padding: 3px;
    margin-right: 3px;
}

.not-done:after{
    content: "\2718";
    border: 1px solid red;
    border-radius: 50%;
    color: red;
    font-size: 10px;
    padding: 3px;
    margin-right: 3px;
}

/* etichette */

.label-a:after{
    content: "Editorial";
    background-color: skyblue;
    padding: 8px;
    font-size: 12px;
    border-radius: 10px;
    color: white;
    vertical-align: middle;
    margin: 5px;
    font-weight: bold;
}

.label-b:after{
    content: "Q1-Goals";
    background-color: blueviolet;
    padding: 8px;
    font-size: 12px;
    border-radius: 10px;
    color: white;
    vertical-align: middle;
    margin: 5px;
    font-weight: bold;
}

.label-c:after{
    content: "Recruiting";
    background-color: green;
    padding: 8px;
    font-size: 12px;
    border-radius: 10px;
    color: white;
    vertical-align: middle;
    margin: 5px;
    font-weight: bold;
}

.label-d:after{
    content: "Mobile";
    background-color: orange;
    padding: 8px;
    font-size: 12px;
    border-radius: 10px;
    color: white;
    vertical-align: middle;
    margin: 5px;
    font-weight: bold;
}

.label-e:after{
    content: "Website";
    background-color: palevioletred;
    padding: 8px;
    font-size: 12px;
    border-radius: 10px;
    color: white;
    vertical-align: middle;
    margin: 5px;
    font-weight: bold;
}

.label-f:after{
    content: "Sales";
    background-color: greenyellow;
    padding: 8px;
    font-size: 12px;
    border-radius: 10px;
    color: white;
    vertical-align: middle;
    margin: 5px;
    font-weight: bold;
}