*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Arial, sans-serif;
     è possibile fare una cosa del genere?? 
    da chiedere!  */
}

body{
    background-color: lightgray;
}

/* logo e scritta */

.logo{
    background-color: white;
    padding: 10px 20px; 
}

.logo-name{
    display: inline-block;
    color: ;
    margin-left: 10px;
    vertical-align: top;
    line-height: 45px;
    font-size: 40px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

/* gestione main */

main{
    padding-top: 50px;
}

.container{
    width: 80%;
    margin: auto;
    background-color:white;
    padding-left: 50px;
}

.container-styling-top{
    border-radius: 5px 5px 0 0;
    border-bottom: 2px solid #cecece;
}

/* bottoni */

.task-control button{
    padding: 10px;
    border-radius: 5px;
    margin: 20px 5px 10px 0;
    border: 1px solid;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.task-control .add-task{
    background-color: skyblue;
    border-color: skyblue;
    color: white;
}

.task-control .add-section{
    background-color: white;
    border-color: gray;
    color: gray;
}

/* varie task  */

.container-styling-tasks{
    padding-top: 25px;
}

.new-task{
    font-size: 20px;
    font-weight: 800;
    font-family: Arial, sans-serif;
}

.tasks{
    padding: 10px;
    font-family: Arial, sans-serif;
}

.tasks .task{
    font-weight: 500;
    font-size: 20px;
    vertical-align: middle;
}


/* etichette */

.label{
    background-color: blueviolet;
    padding: 10px;
    font-size: 15px;
    border-radius: 15px;
    color: white;
    vertical-align: middle;
    margin: 5px;
}



